<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>

        <div class="form">
            <form action="/weatherapp" method="post">
                <label for='city'>enter city:<label>
                <input type="text" name="city" id="city">
                <label for='units'>enter units:<label>
                <input type="text" name="units" id="units">
                <label for='appid'>enter API Keys:<label>
                <input type="text" name="appid" id="appid">
        
                <input type="submit" value="search">
            </form>
        </div>
    </body>
</html>
            